@import "global.css";
@import "navbar.css";

.destination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  padding: 2rem 0;
}

.destination .card_destination {
  position: relative;
  height: 250px;
}

.card_destination div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 10px;
}

.card_destination div h2 {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: var(--heading-size);
}

.destination .card_destination img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
