.navbar {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
}

.navbar .navbar_container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar_container .brand img {
  width: 120px;
}

.navbar .navbar_container .menu {
  display: flex;
  column-gap: 50px;
}

.navbar .navbar_container .menu a {
  text-decoration: none;
  color: black;
  font-size: var(--action-size);
}
