@import "navbar.css";
@import "global.css";

.nav-item {
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #000000;
    transition: width 0.3s;
}

.nav-item:hover {
    font-weight: 700;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item.active {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    position: relative;
}

.nav-item.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
}

.main-content {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.hotel-booking-section {
    text-align: center;
}

.hotel-image {
    position: relative;
    margin-top: 0;
    z-index: 0;
}

.hotel-image img {
    width: 80%;
    height: 85vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-overlay {
    position: absolute;
    top: 10px;
    left: 5px;
    margin-left: 130px;
    padding: 10px;
    border-radius: 10px;
}

.back-button {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 5px 10px;
}

.back-button:hover {
    background-color: #45a049;
}

.header-overlay {
    position: absolute;
    top: 40px;
    margin-left: 25vh;
    padding: 10px;
    border-radius: 10px;
}

.header-overlay h1 {
    font-size: 38px;
    color: white;
}

.booking-form-overlay {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: auto;
}

.booking-form-overlay form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.booking-form-overlay label {
    font-size: 14px;
    color: #333;
}

select, input[type="date"], button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.booking-form-overlay button {
  background-color: #21005D;
  color: white;
}

.booking-form-overlay button:hover {
  background-color: #3c2a76;
}