@import "global.css";
@import "navbar.css";

.contact {
  display: flex;
  min-height: 100vh;
}

.contact_image {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/contact.png") center/cover no-repeat;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
}

.contact_image h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact_image p {
  font-size: 18px;
  max-width: 80%;
}

.contact_form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.form-container {
  width: 100%;
  max-width: 500px;
}

.form-container h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
}

.form-container p {
  font-size: 16px;
  color: #666;
  margin-bottom: 2rem;
}

.contact_form button {
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%; /* Full width button */
}

.contact_form button:hover {
  background-color: #2c9a9a;
  transform: translateY(-2px);
}

/* Success message style */
.success-message {
  display: none;
  padding: 1rem;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  text-align: center;
  margin-top: 1rem;
}
