@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 91px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar img {
    height: 55px;
}

.navbar-2 {
    display: flex;
    gap: 30px;
}

.nav-item {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #000000;
    transition: width 0.3s;
}

.nav-item:hover {
    font-weight: 700;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item.active {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    position: relative;
}

.nav-item.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
}
